@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Italiana&display=swap");

:root {
  --fondo-oscuro-claro: #472e29;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: #faf0e6
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  background-color: transparent;
  border-bottom: solid 1px #ffffff;
  width: 100%;
}
.nav h1 {
  font-size: 64px;
  font-weight: 500;
}
nav ul li a:hover{
  transition: ease-in-out;
  font-weight:bolder;
}
.lista {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  color: #ffffff;
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.482), rgba(5,7,12,0.75)),url(https://cdn.pixabay.com/photo/2016/11/23/17/56/wedding-1854074_1280.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
}
.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}
.portada h2 {
  font-size: 72px;
  font-weight: 500;
  color: #ffffff;
}
.portada p {
  font-size: 32px;
  color: #ffffff;
}
.portada button {
  font-size: 32px;
  cursor: pointer;
  background-color: #7e6c69;
}
.opacidad {
  width: auto;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: -10;
}
.acerca {
  padding: 12rem 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acerca-art {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.acerca-art h2 {
  font-size: 42px;
  font-weight: 500;
}
.acerca-art p {
  font-size: 25px;
  font-weight: 300;
}
.acerca-art img {
  width: 400px;
  height: auto;
  border-radius: 3px;
}
.acerca-art button {
  padding: 16px 42px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  background-color: var(--fondo-oscuro-claro);
  cursor: pointer;
  font-size: 22px;
}
.acerca-text {
  gap: 15px;
}
.frase {
  padding: 5rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-oscuro-claro);
  color: #ffffff;
  font-family: "Italiana", sans-serif;
  font-size: 42px;
  border-color: #ffffff;
}

.servicios{
  display: flex;
  flex-direction: column;
align-items: center;
}
.semicirculo {
  width: 100%;
  height: 500px;
  background-color: var(--fondo-oscuro-claro);
  border-radius: 0;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  text-align: center;
}
.semicirculo h2{
  font-size: 40px;
}
.semicirculo p{
  font-size: 32px;
}
.cumplido{
  padding: 55px;
  font-size: 55px;
  text-align: center;
  color: var(--fondo-oscuro-claro);
}
.numeros{
  font-family: "Italiana", sans-serif;
  font-size: 100px;
  color: #AEAEAE;
  font-style: italic;
  width: 40%;

}
.servicios-div{
  display: flex;
  flex-direction: row;
  padding: 7rem 10rem;
  gap: 100px;
  justify-content: center;
  align-items: center;
  height: 45rem;

}
.servicios-imagenes {
  background-image:linear-gradient(rgba(5, 7, 12, 0.482), rgba(5,7,12,0.75)),url(https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  padding-left: 100px;
  color: #ffffff;
  font-size: 25px;
  height: 100%;
}

.reverso{
  flex-direction: row-reverse;
}
.portafolio {
  padding: 15rem 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--fondo-oscuro-claro);
  color: #ffffff;
}
.portafolio-art {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28%;
  height: 500px;
  font-size: 24px;
}
.portafolio-art img{
  width: 100%;
  height: 350px;
  border-radius: 3px;
}
.arriba{
  position: relative;
  bottom: 120px;
}
.abajo {
  position: relative;
  top: 120px;
}

.portafolio-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
.portafolio h2{
  font-size: 50px;
  position: relative;
  bottom: 110px;
}
.contacto {
  padding: 15rem 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contenedor-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: var(--fondo-oscuro-claro);
  width: 75%;
  height: 300px;

}
.contenedor-contacto h2 {
  font-size: 60px;
  color: #ffffff;
  font-style: italic;
}
.form {
  border: solid 1px black;
  outline: none;
  background: #faf0e6;
  padding: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
  width: 500px;
  height: 450px;
  position: relative;
}
form input, form textarea{
  width: 100%;
  outline: none;
  background: #110303ce;
  padding: 15px;
  margin: 8px 0;
  color: #ffffff;
  font-size: 18px;
  border-radius: 15px;
}